@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:host {
  margin: 32px 0 0 0;
}

mat-card {
  position: relative;
  max-width: 386px;
  margin-bottom: 24px;

  .car {
    object-fit: cover;
    height: 298px;
  }

  .car-rating {
    position: absolute;
    right: 24px;
    font-size: 24px;
    font-weight: 600;
  }
}
