<mat-card
  *ngFor="let car of cars">

  <mat-card-header>
    <mat-card-title>{{ car.name }}</mat-card-title>
    <mat-card-subtitle>{{ car.type }}</mat-card-subtitle>
    <span class="car-rating">{{ car.rating }}</span>
  </mat-card-header>
  <img
    mat-card-image
    [src]="car.image"
    class="car-image">
</mat-card>
